# VITE_APP_BASE_URL="https://solutiondd.ruijieddns.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://solutiondd.ruijieddns.com/ckk_api/"

# VITE_APP_BASE_URL="https://demo1.zoftdd.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://demo1.zoftdd.com/ckk_api/"

# Production API URL
# VITE_APP_BASE_URL="https://ckk.zoftdd.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://ckk.zoftdd.com/ckk_api/"